@import url(../styles/styles.css);

main {
    display: grid;
    /* grid-template-columns: auto 1fr auto; */
    grid-template-columns: 15% 70% 15%;
}

.filtros {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 5px solid var(--principal-oscuro);
    margin-bottom: 16px;
    padding: 8px 0 8px 0;
}

.boton-filtro {
    width: 100%;
    margin: 5px;
}

.dia-calendario--oculto {
    display: none;
}

/*Aside izquierda*/

.lateral-izquierda {
    border-right: 5px solid var(--principal-claro);
    border-radius: 0 24px 24px 0;
}

.lateral-izquierda h2 {
    border-bottom: 5px solid var(--principal-claro);
    text-align: center;
    margin: 8px 0 8px 0;
}

/*Aside derecha*/

.lateral-derecha {
    border-left: 5px solid var(--principal-claro);
    border-radius: 24px 0 0 24px;
}

.pestanya {
    width: 49%;
    padding: 8px;
    margin: 0;
    font-size: 24px;
    font-weight: bolder;
}

.selected-grupos {
    border-radius: 24px 0 0 0;
    background-color: white;
    border-style: none;
}

.unselected-grupos {
    border-radius: 24px 0;
    background-color: #FFA86B;
    border-style: none;
}

.selected-amigos {
    border-radius: 0;
    background-color: white;
    border-style: none;
}

.unselected-amigos {
    border-bottom-left-radius: 24px;
    background-color: #FFA86B;
    border-style: none;
}

.contenido-menu {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.lista {
    flex-grow: 1;
}

.grupo-botones {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}