@import url(../styles/styles.css);

main {
    display: grid;
    /* grid-template-columns: auto 1fr auto; */
    grid-template-columns: 15% 70% 15%;
}

.filtros {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 5px solid var(--principal-oscuro);
    margin-bottom: 16px;
    padding: 8px 0 8px 0;
}

.boton-filtro {
    width: 100%;
    margin: 5px;
}

.dia-calendario--oculto {
    display: none;
}

/*Aside izquierda*/

.lateral-izquierda {
    border-right: 5px solid var(--principal-claro);
    border-radius: 0 24px 24px 0;
}

.lateral-izquierda h2 {
    border-bottom: 5px solid var(--principal-claro);
    text-align: center;
    margin: 8px 0 8px 0;
}

/*Aside derecha*/

.lateral-derecha {
    border-left: 5px solid var(--principal-claro);
    border-radius: 24px 0 0 24px;
}

.pestanya {
    width: 49%;
    padding: 8px;
    margin: 0;
    font-size: 1.25vw;
    font-weight: bolder;
}

.selected-grupos {
    border-radius: 24px 0 0 0;
    background-color: white;
    border-style: none;
}

.unselected-grupos {
    border-radius: 24px 0;
    background-color: #FFA86B;
    border-style: none;
}

.selected-amigos {
    border-radius: 0;
    background-color: white;
    border-style: none;
}

.unselected-amigos {
    border-bottom-left-radius: 24px;
    background-color: #FFA86B;
    border-style: none;
}

.contenido-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grupo-botones {
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/*Amigos*/

.amigo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--secundario-claro);
    border-left: 4px solid var(--principal-claro);
    border-right: 4px solid var(--principal-claro);
    border-radius: 4px;
    margin: 4px;
    align-items: center;
    padding: 0 4px;
}

.amigo a {
    color: black;
}

.info-amigo {
    display: flex;
    align-items: center;
}

.info-amigo i {
    margin-right: 4px;
}

.amigo i {
    font-size: 1.5625vw;
}

/*Grupos*/

.grupo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--secundario-claro);
    border-left: 4px solid var(--principal-claro);
    border-right: 4px solid var(--principal-claro);
    border-radius: 4px;
    margin: 4px;
    align-items: center;
    padding: 0 4px;
}

.grupo a {
    color: black;
}

.info-grupo {
    display: flex;
    align-items: center;
}

.info-grupo i {
    margin-right: 4px;
}

.grupo i {
    font-size: 1.5625vw;
}