@import url(../styles/styles.css);

main {
    display: grid;
    /* grid-template-columns: auto 1fr auto; */
    grid-template-columns: 15% 70% 15%;
}

/*Formulario*/

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    margin: 16px;
    border: 5px solid var(--principal-oscuro);
    border-radius: 24px;
    background-color: var(--secundario-claro);
    flex-grow: 1;
}

.header-form {
    background-color: var(--principal-medio-oscuro);
    border-bottom: 5px solid var(--principal-oscuro);
    text-align: center;
    padding: 16px;
    border-radius: 19px 19px 0 0;
}

#form {
    display: flex;
}

.form-izquierda {
    width: 33%;
    border-right: 5px solid var(--principal-oscuro);
    border-radius: 0 0 24px 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    padding: 16px;
}

.form-derecha {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textarea-derecha {
    padding: 16px;
}

.controles-form {
    align-self: end;
    border: 5px solid var(--principal-oscuro);
    border-radius: 24px 0 17px 0;
    bottom: 0;
}

.controles-form button {
    background-color: transparent;
    border-style: none;
}

.controles-form i {
    font-size: 2.0833vw;
}

/*Aside izquierda*/

.lateral-izquierda {
    border-right: 5px solid var(--principal-claro);
    border-radius: 0 24px 24px 0;
}

.lateral-izquierda h2 {
    border-bottom: 5px solid var(--principal-claro);
    text-align: center;
    margin: 8px 0 8px 0;
}

/*Aside derecha*/

.lateral-derecha {
    border-left: 5px solid var(--principal-claro);
    border-radius: 24px 0 0 24px;
}

.pestanya {
    width: 49%;
    padding: 8px;
    margin: 0;
    font-size: 24px;
    font-weight: bolder;
}

.selected-grupos {
    border-radius: 24px 0 0 0;
    background-color: white;
    border-style: none;
}

.unselected-grupos {
    border-radius: 24px 0;
    background-color: #FFA86B;
    border-style: none;
}

.selected-amigos {
    border-radius: 0;
    background-color: white;
    border-style: none;
}

.unselected-amigos {
    border-bottom-left-radius: 24px;
    background-color: #FFA86B;
    border-style: none;
}

.contenido-menu {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.lista {
    flex-grow: 1;
}

.grupo-botones {
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/*Amigos*/

.amigo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--secundario-claro);
    border-left: 4px solid var(--principal-claro);
    border-right: 4px solid var(--principal-claro);
    border-radius: 4px;
    margin: 4px;
    align-items: center;
    padding: 0 4px;
}

.amigo a {
    color: black;
}

.info-amigo {
    display: flex;
    align-items: center;
}

.info-amigo i {
    margin-right: 4px;
}

.amigo i {
    font-size: 1.5625vw;
}

/*Grupos*/

.grupo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--secundario-claro);
    border-left: 4px solid var(--principal-claro);
    border-right: 4px solid var(--principal-claro);
    border-radius: 4px;
    margin: 4px;
    align-items: center;
    padding: 0 4px;
}

.grupo a {
    color: black;
}

.info-grupo {
    display: flex;
    align-items: center;
}

.info-grupo i {
    margin-right: 4px;
}

.grupo i {
    font-size: 1.5625vw;
}